@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    background: url(../imagens/animal.jpg) no-repeat;
 
}
.principal-title h1{
    color: #E74C3C;
margin-left: 2%;

    
}
.principal-title{

margin-top: 10vh;
}



.login-box{
height: 400px;
width: 350px;
position: absolute;
top: 40%;
left: 15%;
transform: translate(-50%, -50%);
outline: none;


}
.interaction-button button{
    border-radius: 30px;
	border: 1px solid #E74C3C;
	background-color: #E74C3C ;
	color: #FFFFFF;
    font-size: 18px;
    height: 50px;
    width: 60%;
    cursor: pointer;
    margin: 22px 0;
    margin-left: 20% ;
    outline: none;

}
.interaction-button button:hover{
    transition: all 0.5s;
    background: #ffffff;
    color: #E74C3C;
  
	

}
.textbox input{
    font-size: 18px;
    height: 27px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #E74C3C ;
    background-color:#E74C3C ;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
    text-align: center;
    color: #E74C3C;
    background: #ffffff;
    outline: none;
    

}


.textbox ::placeholder{
    color: #E74C3C;
    font-size: 18px;
    
}

.title-login h1{
    color: #E74C3C;
    font-size: 40px;
    font-weight: 100;
    width: 40%;
    margin-left: 32%;
    
    
}
.question{
    text-align: center;
    color: #E74C3C;
}
.textbox i{
    color: white;
    width: 26px;
    float: left;
}
